#
# If all files excluded and you will include only specific sub-directories
# the parent path must matched before.
#

/**
!/.gitignore

# Another example
!/roll20-character-sheets/Star%20Wars%20Saga%20Edition/